@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Raleway", sans-serif;
}

/* Hide navigation arrows by default */
.swiper-button-next,
.swiper-button-prev {
  display: none;
}

/* Show navigation arrows on desktop screens */
@media (min-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}